html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  background-color: #4c89ff;
}

.gallery-parent {
  //text-align: center;
  //   margin: 0 auto;
  //width: 60rem;
  height: 60rem;
  width: 40rem;
}

.gallery-child {
  height: 20rem;
  border-radius: 20rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border: 0;
  line-height: 6;
  padding: 0 50px;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #1014f0;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  text-decoration: none;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.gallery {
  position: relative;
}

.pd6-photo {
  height: 20rem;
  position: absolute;
  transition: all 0.3s;
  outline-offset: 1rem;
  border-radius: 2rem;
}
.blob {
  top: 20rem;
  left: 40%;
}

.cat {
  height: 20rem;
  top: 22rem;
  left: 53%;
  z-index: 1;
}

.asian {
  top: 5rem;
  left: 44%;
}

.hue {
  transition: all 0.3s;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.U {
  height: 20rem;
  top: 110rem;
  transition: all 0.7s;
}


.pd6-photo:hover {
  transform: scale(1.3);
  outline: 1rem solid #30fe70;
  z-index: 2;
}

.button:hover {
  background-color: #1fe4eb;
  box-shadow: 20rem;
}

.button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.U:hover {
  filter: hue-rotate(130deg);
  transform: scale(2.5);
  z-index: 2;
}
.all {
  display: flex;
  perspective: 10px;
  transform: perspective(300px) rotateX(20deg);
  will-change: perspective;
  perspective-origin: center center;
  transition: all 1.3s ease-out;
  justify-content: center;
  transform-style: preserve-3d;
  top: 140rem;
}
.all:hover {
  perspective: 1000px;
  transition: all 1.3s ease-in;
  transform: perspective(10000px) rotateX(0deg);
  transform: scale(1.3);
  .text {
    opacity: 1;
  }
  & > div {
    opacity: 1;
    transition-delay: 0s;
  }
  .explainer {
    opacity: 0;
  }
}

.left, .center, .right, .lefter, .righter {
  width: 200px;
  height: 150px;
  transform-style: preserve-3d;
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow: 0 0 20px 5px rgba(100, 100, 255, .4);
  opacity: 1;
  transition: all .3s ease;
  transition-delay: 1s;
  position: relative;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(86, 131, 209);
  cursor: pointer;
  
  &:hover {
    box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.6);
  }
}
.text {
  transform: translateY(30px);
  opacity: 0;
  transition: all .3s ease;
  bottom: 0;
  left: 5px;
  position: absolute;
  will-change: transform;
  color: #fff;
  text-shadow: 0 0 5px rgba(100, 100, 255, .6);
  font-size: 2rem;
}
.lefter {
  transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRanaUI0opp8pW72gR-g_6fwPDIbanC7goKDvHzJdQHckhl3tKN9w&s);
}
.left {
  transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHHCRLDZo4-3z54nS7oSSgE4iM4Cv-E3T2w8WM9qxdXGvs4e_l&s);
}
.center {
  opacity: 1;
  background-image: url(https://www.teamjimmyjoe.com/wp-content/uploads/2013/01/Boy-Water-Fountain.jpg);
}
.right {
  transform: translateX(30px) translateZ(-25px) rotateY(5deg);
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSohKoD8XIf9IKxWYUnTjaqMF5uksXDvItIwmUCR4PZCzLeTDSC&s);
}
.righter {
  transform: translateX(60px) translateZ(-50px) rotateY(10deg);
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8g4_OwKayb0aw5dI_OAfCBCMnbldK4iHO3_eL8SqGyrggtD7t&s);
}
.explainer {
  font-weight: 300;
  font-size: 2rem;
  color: rgb(53, 199, 204);
  transition: all .6s ease;
  width: 100%;
  height: 100%;
  background-color: #303050;
  background-image: radial-gradient(circle at center top, rgb(14, 170, 231), rgb(21, 35, 228));
  border-radius: 10px;
  text-shadow: 0 0 10px rgba(196, 151, 151, 0.8);
  
  display: flex;
  justify-content: center;
  align-items: center;
}


.ref {
  background-color: #000;
  background-image: linear-gradient(to bottom, #d80, #c00);
  border-radius: 3px;
  padding: 7px 10px;
  position: absolute;
  font-size: 16px;
  bottom: 10px;
  right: 10px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-shadow: 0 0 3px rgba(0, 0, 0, .4);
  &::first-letter {
    font-size: 12px;
  }
}

.W {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px auto;
  width: 250px;
  height: 250px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDRxL7NtNPrIy0hxi8liC1KMH60Sc-OMeWQKt2ywS7xqNDWsmDtQ&s);
  background-size: cover;
  border-radius: 75px;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: lighter;
  letter-spacing: 2px;
  transition: 1s box-shadow;
  border: #000 5px;
}

.W:hover {
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.W:hover:before, .W:hover:after {
  display: block;
  content: '';
  position: absolute;
  width: 250px;
  height: 250px;
  background: rgb(255, 251, 9);
  border-radius: 75px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.W:hover:after {
  background: rgb(0, 255, 98);
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;    
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;    
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;    
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;    
  }
}
